

<div>
  <table>
    <tr>
      <th>Country</th>
    </tr>
    <tr>
      <td>Munich</td>
      <td> <a routerLink="/tutorials">
        <button class="btn btn-success" (click)="saveTutorial()">Show Weather</button>
      </a>
    </td>
    </tr>
    <tr>
      <td>Munich</td>
      <td> <a routerLink="/tutorials" >
        <button class="btn btn-success" (click)="saveTutorial()">Show Weather</button>
      </a>
    </td>
    </tr>
   
  </table>
  <button class="btn btn-success" (click)="showHistoricWeather()">Historic Weather</button>
  
</div>
   
 